<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> </link>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> </link>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>SpryCockpit</h1>
        <p>Congrats, it`s running and ready to rock!</p>
    </div>
</div>

    <div class="container">

        <h2>Happenings</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>description</th>
                <th>creator</th>
                <th>duration</th>
                <th>keywords</th>
                <th>start time</th>
                <th>created</th>
                <th>public</th>
                <th>invitations</th>
            </tr>
            <tr th:each="h : ${happenings}">
                <td th:text="${h.getID()}"></td>
                <td th:text="${h.getDescription()}"></td>
                <td th:text="${h.getcreatorID()}"></td>
                <td th:text="${h.getDuration()}"></td>
                <td th:text="${h.getKeywords().toString()}"></td>
                <td th:text="${#calendars.format(h.getStart_time())}"></td>
                <td th:text="${#calendars.format(h.getCreatedAt())}"></td>
                <td th:text="${h.getIsPublic()}"></td>
                <td th:text="${h.getInvitations().toString()}"></td>
            </tr>
        </table>



        <h2>Users</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>bored?</th>
                <th>password</th>
                <th>token</th>
                <th>googleAuth Key</th>
                <th>googleAuth IDs</th>
                <th>sex</th>
            </tr>
            <tr th:each="u : ${users}">
                <td th:text="${u.getUserID()}"></td>
                <td th:text="${u.getName()}"></td>
                <td th:text="${u.getIsBored()}"></td>
                <td th:text="${u.getPassword()}"></td>
                <td th:text="${u.getToken()}"></td>
                <td th:text="${u.getGoogleauthenticationkey()}"></td>
                <td th:text="${u.getGoogleauthenticationids().toString()}"></td>
                <td th:text="${u.getIsFemale()}"></td>
            </tr>
        </table>


        <hr></hr>

        <footer>
            <p>&copy; Spry 2014</p>
        </footer>

    </div>



</body>
</html>



